*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.music{
    width: 0.5rem;
    height: 0.5rem;
    background: url("../tu/yinyue1%20(2).png");
    background-size: 0.5rem 0.5rem;
    display: block;
    position: fixed;
    right: 0.2rem;
    top: 0.2rem;
    z-index: 999;
}
/*¶¯»­*/

.rotateMusic{
    animation: rotateMusic 1.5s linear infinite;
}
@keyframes rotateMusic {

    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}

.swiper-container{
    width: 100%;
    height: 100%;
}
.page{
    width: 100%;
    height: 100%;
    background: url("../images/bg.png") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    position: absolute;
}

.page-1 img{
    position: absolute;
}
.page-1>img:nth-of-type(1){
    left: -0.85rem;
    top: -0.1rem;
    z-index: 2;
}
.page-1>img:nth-of-type(2){
    right: -0.5rem;
    bottom: -0.8rem;
    z-index: 2;
}
.page-1>img:nth-of-type(3){
    left: -0.1rem;
    bottom: -0.4rem;
    z-index: 2;
}
.page-1>img:nth-of-type(4){

    left: 0.8rem;
    bottom: 0.1rem;
    z-index: 2;
}
.page-1>img:nth-of-type(5){
    left: 1.4rem;
    bottom: -0.8rem;
    z-index: 2;
}
.page-1>img:nth-of-type(6){
    left: 1.9rem;
    bottom: 0.3rem;
    z-index: 4;
}
.page-1>img:nth-of-type(7){
    right: -0.2rem;
    bottom: -0.5rem;
}
.page-1>img:nth-of-type(8){
    right: -0.6rem;
    bottom: -0.4rem;
    z-index: 2;
}
.page-1>img:nth-of-type(9){
    right: 1rem;
    bottom: -0.3rem;
    z-index: 2;
}
.page-1>img:nth-of-type(10){
    left: 0.5rem;
    top: 1.3rem;
    z-index: 2;
 }
.page-1>img:nth-of-type(11){
    left: 1.1rem;
    top: 1.9rem;
    width: 2rem;
    height: 1.8rem;
    z-index: 2;
    border-radius: 15px;
}
.page-1>img:nth-of-type(12){
    left: 1.9rem;
    top: 1.5rem;
    z-index: 2;
}
.page-1>img:nth-of-type(13){
    left: 0.7rem;
    top: 2.8rem;
    z-index: 2;
}
.page-1 h2{
    font-size: 0.7rem;
    position: absolute;
    top: 0.3rem;
    left: 0.7rem;
    font-family: ziti1;
    color: #38ad87;
    z-index: 2;
}
.page-1 h3{
    font-size: 0.4rem;
    position: absolute;
    bottom: 1.4rem;
    left: 0.2rem;
    font-family: ziti2;
    color: #1c9a5d;
    z-index: 2;
}
.page-2 img{
    position: absolute;
}
.page-2>img:nth-of-type(1){
    top: 0.5rem;
    left: 0.45rem;
}
.page-2>img:nth-of-type(2){
    top: 0.6rem;
    left: 0.52rem;
}
.page-2>img:nth-of-type(3){
    top: 0.1rem;
    left: 0.55rem;
    z-index: 9;
}
.page-2>img:nth-of-type(4){
    top: 0.1rem;
    left: 0;
    z-index: 9;
}
.page-2>img:nth-of-type(5){
    width: 3.04rem;
    height: 4.25rem;
    top: 0.65rem;
    left: 0.56rem;
    z-index: 8;
}
.page-2>img:nth-of-type(6){
    top: -0.3rem;
    left: -0.9rem;
}
.page-2>img:nth-of-type(7){
    bottom: 1.65rem;
    left: 0;
}
.page-2>img:nth-of-type(8){
    bottom: -0.5rem;
    right: -0.3rem;
}
.page-2>img:nth-of-type(9){
    bottom: -0.2rem;
    left: -0.3rem;
    z-index: 9;
}
.page-2 p{
    font-size: 0.35rem;
    z-index: 99;
    font-family: ziti2;
    position: absolute;
}
.page-2 p:nth-of-type(1){
    bottom: 1.4rem;
    right: 0.2rem;
}
.page-2 p:nth-of-type(2){
    bottom: 0.9rem;
    left: 0.2rem;
}
.page-2 p:nth-of-type(3){
    bottom: 0.3rem;
    right: 0.2rem;
}

.page-3 p{
    font-size: 0.18rem;
    color: #5d5d5d;
    line-height: 0.32rem;
}
.page-3 img{
    position: absolute;
}
.page-3 img:nth-of-type(1){
    top: 0.9rem;
    left: 0.5rem;
    z-index: 9;
}
.page-3 img:nth-of-type(2){
    bottom: -0.2rem;
    left: 0;
}
.page-3 img:nth-of-type(3){
    top: -0.5rem;
    left: -1rem;
}
.page-3 img:nth-of-type(4){
    right: -0.2rem;
    bottom: -0.2rem;
}
.page-3 h2{
    position: absolute;
    font-size: 0.55rem;
    top: 0.2rem;
    left: 0.9rem;
    color: #38ad87;
    font-family: ziti1;
}
.page-3 .text{
    position: absolute;
    bottom: 1.2rem;
    left: 0.2rem;
    z-index: 9;
}

.page-4 img{
    position: absolute;
}
.page-4 h2{
    position: absolute;
    font-size: 0.55rem;
    top: 0.2rem;
    left: 0.9rem;
    color: #1e5d47;
    font-family: ziti1;
    z-index: 9;
}
.page-4 img:nth-of-type(1){
     top: 1.3rem;
     left: 0;
    z-index: 9;
 }
.page-4 img:nth-of-type(2){
    top: 2.5rem;
    right: 0.2rem;
    z-index: 9;
}
.page-4 img:nth-of-type(3){
    top: 4rem;
    left: 0;
    z-index: 9;
}
.page-4 img:nth-of-type(4){
    bottom: 0.7rem;
    right: 0.2rem;
    z-index: 9;
}
.page-4 img:nth-of-type(5){
    bottom: -0.2rem;
    left: 0;
}
.page-4 img:nth-of-type(6){
    top: -0.5rem;
    left: -1rem;
}
.page-4 img:nth-of-type(7){
    right: -0.5rem;
    bottom: -0.5rem;
}
.page-4 p{
    font-size: 0.16rem;
    color: #1e5d47;
}
.page-4 .text{
    position: absolute;
    top: 1.4rem;
    left: 1.1rem;
    z-index: 9;
}
.page-4 .text1{
    position: absolute;
    top: 2.75rem;
    right: 1.4rem;
    z-index: 9;
}
.page-4 .text2{
    position: absolute;
    top: 4.1rem;
    left: 1.1rem;
}
.page-4 .text3{
    position: absolute;
    bottom: 1.15rem;
    right: 1.4rem;
}
.page-4 img{
    position: absolute;
}
.page-5 img{
    position: absolute;
}
.page-5>img:nth-of-type(1){
    top: -0.2rem;
    left: -0.8rem;
}
.page-5>img:nth-of-type(2){
    bottom: -0.5rem;
    right: -0.4rem;
}
.page-5>img:nth-of-type(3){
    top: 1.6rem;
    left: 0.5rem;
}
.page-5>img:nth-of-type(4){
    bottom: -0.1rem;
    left: 0;
}
.page-5>img:nth-of-type(5){
    top: 0.9rem;
    left: 0.9rem;
    z-index: 3;
}
.page-5>img:nth-of-type(6){
    top: 0.9rem;
    left: 0.3rem;
}
.page-5>img:nth-of-type(7){
    top: 1.2rem;
    left: 0.4rem;
    z-index: 9;
}
.page-5>img:nth-of-type(8){
    top: 1.2rem;
    left: 0;
    z-index: 3;
}
.page-5 h2{
    position: absolute;
    font-size: 0.55rem;
    top: 0.2rem;
    left: 0.9rem;
    color: #1e5d47;
    font-family: ziti1;
    z-index: 9;
}

.page-8 img{
    position: absolute;
}
.page-8 img:nth-of-type(1){
    top: 1rem;
    left: 0.3rem;
    z-index: 9;
}
.page-8 img:nth-of-type(2){
    bottom: 0;
    left: 0;
    z-index: 9;
}
.page-8 img:nth-of-type(3){
    top: -0.3rem;
    left: -0.6rem;
}
.page-8 img:nth-of-type(4){
    bottom: -0.4rem;
    right: -0.4rem;
}
.swiper-container1{
    width: 3rem;
    height: 4.15rem;
    position: absolute;
    top: 1.7rem;
    left: 0.58rem;
    overflow: hidden;
}
.zuopin{
    width: 3rem;
    height: 4.15rem;
}
.zuopin img{
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: ziti1;
    src: url("../ziti/ziti1.ttf");
}
@font-face {
    font-family: ziti2;
    src: url("../ziti/ziti2.ttf");
}
@font-face {
    font-family: ziti3;
    src: url("../ziti/ziti3.ttf");
}